@import url(http://fonts.googleapis.com/css?family=Ubuntu|Oswald|Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

ul
{
    list-style-type: none !important;
}
.genre{
    font-family: 'Inconsolata';
    font-size: 20px;
}
.rating{
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
}
.summary{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    overflow: scroll;
    display: block;
    background: whitesmoke;
    padding: 2%;
}
.back{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 23px;
    width: 100%;
    background: #16a085;
    color:white;
}
.t{
    padding: 30px;
}
.h3{
    word-wrap: break-word;
}
.thumbnail>img {
    display: block;
    width: 100%;
    height: 500px;
}
.buttonlink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
.search_row{
    padding:2px;
}
.f1{
	padding:5px;
	margin:0 auto;
}

.img1{
	margin:0 auto;
}
.movie_images{
    width: 100%;
}
.space{
    padding: 30px;
}
.movie{

    padding-top: 10px;
    padding-right: 0%;
    padding-left: 0%;
}
